<ul>
    <li *ngFor="#node of proxy.data">

        <span class="iconButton" (click)="node.toggle()">{{node.icon}}</span>
        <!--<input type="checkbox" [checked]="dir.checked" (click)="dir.check()" /> {{ dir.name }}-->

        <div *ngIf="node.expanded">

            <ul>
                <li *ngFor="#leaf of node.getLeafs()">{{leaf.value}}</li>
            </ul>

            <tree-view-component [nodes]="node.nodes"></tree-view-component>

        </div>

    </li>
</ul>
